@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");
* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.gio-hang {
    border: 1px solid #ddd;
    box-shadow: 2px 2px 4px #ddd;
    padding: 20px;
    margin: auto;
    max-width: 1000px;
}

.anh {
    width: 100px;
}

input {
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
}
.item-cart {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item-cart .anh img{
    width: 100px;
    height: 100px;
}

.item-cart .anh, .gia, .soluong, .tong, .thaotac  {
    flex: 1;
    margin-left: 20px;;
}


.item-cart .thaotac i:hover {
    background-color: #ff5722;
}



